/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

** This is all the stuff that came with create-react=app

*/

#app{
  display: flex;
  flex-flow: row wrap;

  justify-content: center;
  align-items: center;

  text-align: center;
  background-color: rgb(250, 228, 226);

  height: 100vh;
}
#app>*{
  padding: 2px;
  margin: 2px;
  flex: 1 100%;
  border-radius: 10px;

  position: fixed relative;
}

#navigation{
  background-color:rgb(247, 186, 96);
  color: whitesmoke;

  position: fixed;
  top: 0vh;
  max-height: 3rem;
  min-width: 95%;

  flex: 1;
}

#navigation > ul {
  display: flex;
  list-style: none;
  text-align: inherit;
  gap: 5%;
}

#profile-link {
  margin-left: 10%;
  bottom: 35px;
  left: 75px;
  
  font-size: 22px;

  position: relative;
}

#content {
  text-align: center;
  font-size: 22px;
  color: whitesmoke;
  
  background-color:rgb(196, 179, 173);

  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  
  padding-bottom: 15px;
  padding-top: 1px;

  display: flex;
  flex-flow: column nowrap;
}

#content-navigation{
  background-color: rgb(250, 114, 114);
}

#main-content{
  background-color: salmon;
}