/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

** This is all the stuff that came with create-react=app

*/

html {
  background-color: rgb(139, 208, 255);
}

#app{
  background-color: rgb(250, 228, 226);

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 62.5%;
  
  min-height: 100vh;
  
  border-radius: 12rem;
}
#app > * {
  padding: 2px;
  margin: 2px;

  position: fixed relative;

  border-radius: 12rem;
}

#navigation{
  background-color: rgb(139, 208, 255);
  color: whitesmoke;

  position: fixed;
  top: 0vh;
  max-height: 3rem;
  min-width: 95%;
}

#navigation > ul {
  display: flex;
  list-style: none;
  text-align: inherit;
  gap: 5%;
}

#navigation > ul > .nav-link {
  background-color: bisque;
  
  color: coral;
  font-weight: 800;

  padding: .2rem;
  font-size: 1rem;
}

#logout {
  margin-left: 10%;
  
  background-color: aliceblue;
  border: .35em solid bisque;
  
  position: relative;
  bottom: 2.75em;
  left: 20em;
}

#login {
  margin-left: 10%;
  
  background-color: bisque;
  border: .35em solid aliceblue;
  
  position: relative;
  bottom: 2.75em;
  left: 20em;
}

#content {
  display: flex;
  flex-direction: row;
  
  text-align: center;
  font-size: 1.15rem;
  color: whitesmoke;

  font-weight: 700;

  margin: 1em 2em 0em 2em;
  gap: 1em;
  padding: 1em 1.5em 1em 1.5em;

  border-radius: 1.5em;
}

#content-navigation {
  display: flex;
  flex-direction: column;
}

#content-navigation > ul > li {  
  background-color: rgb(250, 114, 114);
  
  padding: 0.75em 0.75em 0.75em 0.75em;
  margin: 0.75em 0.75em 0.75em 0.75em;

  max-width: max-content;
  min-width: max-content;
  
  border-radius: 2.25rem;

  list-style-type: none;
}

#main-content{
  background-color: salmon;

  border-radius: 1.25rem;

  padding: 0.75em 0.75em 0.75em 0.75em;
}